# Logs
rmbdeals/logs
rmbdeals/*.log
rmbdeals/npm-debug.log*
rmbdeals/yarn-debug.log*
rmbdeals/yarn-error.log*
rmbdeals/pnpm-debug.log*
rmbdeals/lerna-debug.log*

rmbdeals/node_modules
rmbdeals/dist
rmbdeals/dist-ssr
rmbdeals/*.local

# Editor directories and files
rmbdeals/.vscode/*
rmbdeals/!.vscode/extensions.json
rmbdeals/.idea
rmbdeals/.DS_Store
rmbdeals/*.suo
rmbdeals/*.ntvs*
rmbdeals/*.njsproj
rmbdeals/*.sln
rmbdeals/*.sw?

rmbdeals_admin/logs
rmbdeals_admin/*.log
rmbdeals_admin/npm-debug.log*
rmbdeals_admin/yarn-debug.log*
rmbdeals_admin/yarn-error.log*
rmbdeals_admin/pnpm-debug.log*
rmbdeals_admin/lerna-debug.log*

rmbdeals_admin/node_modules
rmbdeals_admin/dist
rmbdeals_admin/dist-ssr
rmbdeals_admin/*.local

# Editor directories and files
rmbdeals_admin/.vscode/*
rmbdeals_admin/!.vscode/extensions.json
rmbdeals_admin/.idea
rmbdeals_admin/.DS_Store
rmbdeals_admin/*.suo
rmbdeals_admin/*.ntvs*
rmbdeals_admin/*.njsproj
rmbdeals_admin/*.sln
rmbdeals_admin/*.sw?

# compiled output
rmbdeals_be/dist
rmbdeals_be/dist.zip
rmbdeals_be/node_modules
rmbdeals_be/.env

# Logs
rmbdeals_be/logs
rmbdeals_be/*.log
rmbdeals_be/npm-debug.log*
rmbdeals_be/pnpm-debug.log*
rmbdeals_be/yarn-debug.log*
rmbdeals_be/yarn-error.log*
rmbdeals_be/lerna-debug.log*

# OS
rmbdeals_be/.DS_Store

# Tests
rmbdeals_be/coverage
rmbdeals_be/.nyc_output

# IDEs and editors
rmbdeals_be/.idea
rmbdeals_be/.project
rmbdeals_be/.classpath
rmbdeals_be/.c9/
rmbdeals_be/*.launch
rmbdeals_be/.settings/
rmbdeals_be/*.sublime-workspace

# IDE - VSCode
rmbdeals_be/.vscode/*
rmbdeals_be/!.vscode/settings.json
rmbdeals_be/!.vscode/tasks.json
rmbdeals_be/!.vscode/launch.json
rmbdeals_be/!.vscode/extensions.json
