.expo
.expo/
node_modules/
.expo-shared/
.expo-types/
dist/
web-build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React Native
ios/build/
android/build/
android/app/build/
android/app/src/main/assets/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
